<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Playwright Test Suite" verbose="4">

    <test name="Sauce Demo Tests">
        <classes>
            <class name="com.tclife.tests.LoginPageTest" />
        </classes>
    </test>

</suite>
